@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #FFFFFF;
  --primary: #141414;
  --secondary: #FFFFFF;
  --mint: #ABFFC3;
  --orange: #FFB77A;
  --background-gray: #363636;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-gray: var(--background-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-mint: var(--mint);
  --color-orange: var(--orange);
  --text-color: var(--foreground);
  --animate-showleft: showFromLeft 3s linear infinite;

   @keyframes showFromLeft {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

body {
  background: var(--primary); 
  color: var(--foreground); 
  font-family: Arial, Helvetica, sans-serif;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sm {
  padding: 0 150px;
}
.container-lg {
  padding: 0 60px;
}