@import "tailwindcss";
body {
  overflow-x: hidden;
}
:root {
  --background: #141414;
  --foreground: #FFFFFF;
  --primary: #141414;
  --secondary: #FFFFFF;
  --mint: #ABFFC3;
  --orange: #FFB77A;
  --background-gray: #363636;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-gray: var(--background-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-mint: var(--mint);
  --color-orange: var(--orange);
  --text-color: var(--foreground);
  --animate-showleft: showFromLeft 3s linear infinite;

  @keyframes showFromLeft {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }
}

body {
  background: var(--primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.container-sm {
  padding: 0 150px; 
}

.container-lg {
  padding: 0 60px;
}

.clip-bg {
  clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 75%, 85% 100%, 30% 100%, 0 100%, 0 0);
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 52px;
  border-radius: 16px;
  padding: 2px 16px;
  border: 4px solid var(--background-gray);
  background: var(--foreground);
}

@media screen and (width <= 1024px) {
  .container-sm {
    padding: 0 16px;
    width: 100%;
  }

  .container-lg {
    padding: 0 16px;
    width: 100%;

  }
  .paragraph {
    width: 100% !important;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}